/* modificação no container */

.container{
/* retirar fonte com serifa para sem serifa */
    font-family: Arial, Helvetica, sans-serif;
/* limitar tamanho do container */
    max-width: 300px;
/* centralizar o container */
    margin: auto;
    background-color: aliceblue;
/* inserir espaço entre o conteúdo e as bordas */
    padding: 20px;
/* arredondar borda */
    border-radius: 10px;
    border-style: solid;
    border-color: brown;
}

/* retirar margem extra do <h1> */
h1{
    margin-top: 0px;
}

/* modificar ao mesmo tempo todos os inputs da tela */
input{
/* input pegar 100% da largura do elemento pai */
    width: 100%;
/* para não ter nada ao lado dos inputs */
    display: block;
/* descolar os textos das bordas */
    padding: 5px;
/* como a distância para as bordas do container ficaram diferentes, vamos adequar fazendo nosso 100% contar tudo */
    box-sizing: border-box;
/* inserindo margem entre os inputs */
    margin-bottom: 10px;

}