
body {
    width: 100%;
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center; 
/* BACKGROUND IMAGEM DE CHURRASCO */
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)100%), url(../img/parrilla.jpg);
    background-position: center;
}

/* modificação no container */

.container{
/* retirar fonte com serifa para sem serifa */
    font-family: Arial, Helvetica, sans-serif;
/* limitar tamanho do container */
    max-width: 500px;
/* centralizar o container */
    margin: auto;
    background-color: black;
    background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 0.5)50%); 
/* inserir espaço entre o conteúdo e as bordas */
    padding: 50px;
/* formatar borda */
    border-radius: 10px;
    border-style: solid;
    border-color:#000000;
}

/* retirar margem extra do <h1> */
h1{
    margin-top: 0px;
    color: #EEAF95;
    font-size: 20px;
}

/* modificar ao mesmo tempo todos os inputs da tela */
input{
/* input pegar 100% da largura do elemento pai */
    width: 100%;
/* para não ter nada ao lado dos inputs */
    display: block;
/* descolar os textos das bordas */
    padding: 5px;
/* como a distância para as bordas do container ficaram diferentes, vamos adequar fazendo nosso 100% contar tudo */
    box-sizing: border-box;
/* inserindo margem entre os inputs */
    margin-bottom: 10px;
    border: 1.5px solid #FFF6B9;

}


.botaoEnviar{
    width: 150px;
    margin: auto; /*centralizar o botão */
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #FFF6B9;
    border-radius: 50px;
    background-color: #EEAF95;
    font-size: 15px;
}

.botaoEnviar:hover{
    background-color: #FFF6B9;
    border: 1px solid #EEAF95;
}

footer p{
    padding-top: 40px; /*distância para o botão calcular */ 
    text-align: center;
    font-size: 10pt;
    color: #FFF6B9;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer a{
    color: #EEAF95;
}

#resultado{
    color: azure;
}
